/*Colors*/
:root {
  --color-black: black;
  --color-white: #ffffff;
  --color-grey-400: rgba(0, 0, 0, 0.2);
  --color-grey-600: #979797;
}

p {
  margin: 0;
}

/*Sticky-footer -> height of page*/
html {
  height: 100%;
}

/* CONTAINER /
specify the page_width */

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--color-black);
  background-color: var(--color-white);
  width: 375px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*Header*/
.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 20px;
}

.page-header__information {
  background-image: url("..//img/information.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 3px solid transparent;
  box-sizing: border-box;
  background-color: var(--color-white);
}

.page-header__logo {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
  margin-left: 5px;
  word-break: break-all;
  max-width: 150px;
}

/*Bonus_section*/
.bonus__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  box-shadow: 2px 2px 16px var(--color-grey-400);
  border-radius: 20px;
  background-color: var(--color-white);
  position: relative;
  max-width: 335px;
}

.bonus__wrapper::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(180deg, #D2333E 0%, #F54B55 100%);
  width: 375px;
  height: 148px;
  top: 50%;
  left: -20px;
  box-sizing: border-box;
  z-index: -1;
}

.bonus__burning {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: auto 24px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-600);
  word-break: break-all;
  max-width: 230px;
}

.bonus__burningIcon {
  background-image: url("..//img/bonus-burningIcon.png");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 24px;
  height: 24px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.bonus__currentQuantity {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  word-break: break-all;
  max-width: 230px;
}

.bonus__informationButton {
  background-image: url("..//img/bonus-informationButton.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #D4343F;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: transparent;
  align-self: center;
}
